@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline: none; }

body {
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

p {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    display: block;
    margin: 0;
    padding: 0; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: #00703B;
  border-radius: 8px;
  padding: 10px 35px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.btn:hover {
  opacity: 0.8; }

.header {
  height: 136px; }

.header__fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  z-index: 999; }

.header__fixed.active {
  -webkit-box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1); }

.header__top {
  padding-top: 16px; }
  .header__top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .header__top ul li {
      padding-left: 24px; }
      .header__top ul li a {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333; }
      .header__top ul li a:hover {
        color: #00703B; }

.header__bottom {
  padding-top: 24px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  display: block;
  width: 200px;
  margin-right: 32px; }
  .header__logo img {
    width: 100%; }

.header__burgir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 146px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #00703B;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .header__burgir p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .header__burgir .burgir {
    width: 24px;
    height: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 8px; }
    .header__burgir .burgir span {
      display: block;
      width: 100%;
      height: 2px;
      background: #00703B;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .header__burgir .burgir span:nth-child(2) {
      width: 19px; }

.header__burgir-menu {
  display: none; }

.header__burgir.active {
  background: #00C165;
  border-color: #00C165; }
  .header__burgir.active p {
    color: #fff; }
  .header__burgir.active span {
    width: 100% !important;
    background-color: #fff; }

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 473px;
  height: 42px;
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  margin-left: 27px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .header__search input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px; }
  .header__search button {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 125px;
    height: 100%;
    background: #DCDCDC;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333; }
    .header__search button img {
      margin-right: 7px; }

.header__city {
  display: none;
  margin-top: 11px;
  width: 100%; }
  .header__city p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #8C8C8C; }
    .header__city p a {
      font-size: 14px;
      line-height: 19px;
      color: #333333;
      border-bottom: 1px dashed #00703B;
      padding-bottom: 2px;
      margin-left: 4px; }

.header__btn {
  margin-left: 32px; }
  .header__btn a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 260px;
    height: 42px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    background: #00703B;
    border-radius: 8px;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .header__btn a:hover {
    opacity: 0.8; }

.header__user {
  margin-left: auto;
  position: relative; }
  .header__user a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 96px;
    height: 42px;
    background: #DCDCDC;
    border-radius: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333; }
  .header__user .img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    background: #DCDCDC;
    position: relative;
    cursor: pointer; }
    .header__user .img img {
      width: 50%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .header__user .down {
    display: none;
    width: 392px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    -webkit-box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
    box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 999;
    padding-top: 40px; }
    .header__user .down a {
      width: 100%;
      height: auto;
      background-color: transparent;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .header__user .down .link {
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333;
      padding: 0 40px;
      margin-bottom: 24px; }
    .header__user .down .link:last-child {
      margin-bottom: 32px; }
    .header__user .down .exit {
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #8C8C8C;
      font-family: 'Roboto', sans-serif;
      padding: 24px 40px 32px 40px;
      border-top: 1px solid #DCDCDC;
      border-radius: 0; }
  .header__user .img.active + .down {
    display: block; }

.mobile-menu {
  display: none;
  width: 100%;
  height: 57px;
  background: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1001; }

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 13px;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px); }

.menu__items {
  text-align: center; }
  .menu__items p {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C; }
  .menu__items .catalog-btn p {
    margin-top: 8px; }
  .menu__items .catalog-btn span {
    display: block;
    width: 24px;
    height: 2px;
    background: #333333; }
  .menu__items .catalog-btn span:nth-child(2) {
    margin-top: 5px;
    width: 19px; }
  .menu__items .catalog-btn.active span {
    background: #00C165; }
  .menu__items .add-btn img {
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: translateY(-11px);
    -ms-transform: translateY(-11px);
    transform: translateY(-11px); }
  .menu__items .user-btn p {
    margin-top: 3px; }

.modal {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5); }

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer; }

.modal__block {
  width: 630px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  border-radius: 8px;
  padding: 48px 0 0;
  position: relative;
  margin-top: 50px; }
  .modal__block h3 {
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    color: #333333;
    margin-bottom: 40px; }
  .modal__block h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    color: #8C8C8C;
    margin-bottom: 16px; }

.modal__content {
  padding: 0 110px; }
  .modal__content input {
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    padding: 0 16px;
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #8C8C8C;
    font-family: 'Roboto', sans-serif; }

.modal__secret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .modal__secret .secret {
    width: 93px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    margin-right: 18px; }

.modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative; }
  .modal__check .pass {
    margin-left: auto;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #00703B; }
  .modal__check input {
    min-width: 24px;
    width: 24px;
    min-height: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    margin-right: 12px;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  .modal__check label {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    cursor: pointer; }
    .modal__check label a {
      color: #00703B; }
  .modal__check label::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    background: #00703B;
    border-radius: 2px; }
  .modal__check input:checked + label::before {
    background: #00703B url(../img/check.svg) no-repeat center; }

.modal__btn {
  width: 100%;
  height: 42px;
  background: #00703B;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
  cursor: pointer; }

.moda__btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  padding: 32px 0;
  border: none;
  border-top: 1px solid #DCDCDC;
  cursor: pointer;
  font-weight: normal;
  font-size: 19px;
  line-height: 120%;
  color: #00703B; }

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.catalog_menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -105%;
  z-index: 1000;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  padding-top: 24px;
  overflow-y: auto; }

.catalog_menu.active {
  left: 0; }

.catalog_menu__top h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  text-align: center; }

.catalog_menu__close {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  cursor: pointer; }

.catalog_menu__ul {
  margin-top: 30px; }

.catalog_menu__li {
  background: #FFFFFF;
  -webkit-box-shadow: inset 0px -1px 0px #EBEBEB;
  box-shadow: inset 0px -1px 0px #EBEBEB;
  margin-bottom: 16px; }
  .catalog_menu__li p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #333333;
    padding: 12px 10px 13px 16px;
    cursor: pointer; }
    .catalog_menu__li p a {
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333; }
  .catalog_menu__li ul {
    position: absolute;
    top: 0;
    right: -105%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 24px;
    overflow-y: auto; }
    .catalog_menu__li ul li {
      padding: 12px 16px;
      background: #FFFFFF;
      -webkit-box-shadow: inset 0px -1px 0px #EBEBEB;
      box-shadow: inset 0px -1px 0px #EBEBEB;
      margin-bottom: 16px; }
      .catalog_menu__li ul li a {
        display: block;
        width: 100%;
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #333333; }
  .catalog_menu__li p.active + ul {
    right: 0; }

.catalog_menu__ul_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px; }
  .catalog_menu__ul_top img {
    margin-right: 15px;
    cursor: pointer; }
  .catalog_menu__ul_top h6 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333; }

section h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #333333;
  margin-bottom: 32px; }

section h2.mobie {
  display: none; }

.banner {
  padding-top: 22px;
  padding-bottom: 54px; }

.banner__box {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  position: relative; }
  .banner__box .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .banner__box .img img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.banner-shadow {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%; }

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  padding-left: 60px; }
  .banner__content .h1 {
    width: 520px;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF; }

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.services__item {
  width: 150px;
  margin-right: 38px;
  margin-bottom: 52px; }
  .services__item p {
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    color: #1F1F1F; }
  .services__item .img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 16px;
    overflow: hidden; }
    .services__item .img img {
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.services__item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.services__item:nth-child(7) {
  margin-right: 0; }

.services__item:nth-child(13) {
  margin-right: 0; }

.services__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 72px; }

.suggestions {
  padding-bottom: 29px;
  margin-bottom: 72px; }
  .suggestions .slick-prev {
    display: none; }
  .suggestions .slick-next {
    width: 40px;
    height: 40px;
    z-index: 99;
    border-radius: 50%;
    right: 0;
    top: 40%;
    background: #DCDCDC url(../img/right.svg) no-repeat center;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .suggestions .slick-next:hover {
    opacity: 0.9; }
  .suggestions .slick-next::before {
    display: none; }
  .suggestions .slick-dots li button:before {
    display: none; }
  .suggestions .slick-dots {
    bottom: -32px; }
  .suggestions .slick-dots li {
    padding: 0;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #DCDCDC;
    margin: 0 12px; }
  .suggestions .slick-dots li.slick-active {
    background: #00703B; }
  .suggestions .slick-dots li button {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; }

.suggestions__box .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.suggestions__wrap {
  padding-right: 27px; }

.suggestions__item {
  width: 300px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  min-height: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 12px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .suggestions__item .img {
    width: 100%;
    min-height: 245px;
    position: relative; }
    .suggestions__item .img img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .suggestions__item .title {
    height: 100%;
    min-height: 201px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px 16px 32px; }
  .suggestions__item .price {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin-bottom: 16px; }
  .suggestions__item p {
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #333333;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif; }
  .suggestions__item span {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8C8C8C; }

.suggestions__item:hover {
  background: #F7F7F7;
  border: 1px solid #DCDCDC;
  -webkit-box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1); }

.stock__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 72px; }

.stock__block {
  cursor: pointer;
  width: 630px;
  height: 280px;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 21px;
  position: relative; }
  .stock__block .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .stock__block .img img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.stock__block:nth-child(2) {
  margin-right: 0; }

.banner-shadow2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -30%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.stock__block .banner-shadow2 {
  left: 40%; }

.stock__content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  padding: 0 40px; }
  .stock__content h5 {
    width: 249px;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
    padding-top: 76px; }
  .stock__content span {
    width: 141px;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 0 17px;
    background: rgba(7, 128, 239, 0.9);
    border-radius: 13px;
    margin-bottom: 16px;
    margin-top: 117px; }
  .stock__content h6 {
    width: 224px;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto; }

.announcement__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
  padding: 32px 80px 32px 48px;
  margin-bottom: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .announcement__box .img {
    width: 120px;
    height: 98px;
    background-color: #EBEBEB;
    overflow: hidden;
    position: relative; }
    .announcement__box .img img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .announcement__box .title {
    padding-top: 12px;
    margin-left: 28px; }
    .announcement__box .title .price {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #333333;
      margin-bottom: 12px; }
    .announcement__box .title p {
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333; }
  .announcement__box .date {
    margin-left: auto; }
    .announcement__box .date p {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #8C8C8C;
      margin-bottom: 4px; }
    .announcement__box .date span {
      display: block;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #8C8C8C;
      margin-top: 8px; }

.announcement__box:hover {
  background: #F7F7F7;
  border: 1px solid #DCDCDC;
  -webkit-box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  border-radius: 8px; }

.announcement__btn {
  margin-top: 32px;
  margin-bottom: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.banner2 .h1 {
  color: #333333; }
  .banner2 .h1 span {
    color: #00703B; }

.catalog {
  padding-top: 24px;
  padding-bottom: 72px; }

.catalog__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.catalog__aside {
  width: 295px; }
  .catalog__aside aside {
    width: 100%;
    background: #F7F7F7;
    border-radius: 8px;
    overflow: hidden; }
    .catalog__aside aside .ul li > p {
      padding: 12px 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333;
      cursor: pointer; }
      .catalog__aside aside .ul li > p a {
        color: #333; }
    .catalog__aside aside .ul li > ul {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .catalog__aside aside .ul li > ul a {
        display: block;
        padding: 8px 16px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333; }
    .catalog__aside aside .ul li p.active a {
      color: #00C165; }
    .catalog__aside aside .ul li p.active img {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    .catalog__aside aside .ul li p.active + ul {
      max-height: 1000px;
      -webkit-box-shadow: inset 0px 1px 0px #EBEBEB;
      box-shadow: inset 0px 1px 0px #EBEBEB; }

.catalog__aside aside .ul li > ul a:hover {
  color: #00C165; }

.catalog__block {
  width: calc(100% - 325px);
  margin-left: auto; }

.crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px; }
  .crumbs a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    margin-right: 4px; }
  .crumbs p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8C8C8C;
    margin-right: 4px; }
  .crumbs span {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8C8C8C; }

.catalog__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px; }
  .catalog__select .select {
    width: 300px;
    margin-right: 64px; }
    .catalog__select .select p {
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333;
      margin-bottom: 8px; }
    .catalog__select .select select {
      width: 100%;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid #DCDCDC;
      border-radius: 8px;
      padding: 0 16px; }

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 32px; }
  .next p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    margin-right: 24px; }
  .next a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #DCDCDC;
    border-radius: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8C8C8C;
    margin-right: 16px; }
  .next a.active {
    background: #00703B;
    color: #FFFFFF; }

.product {
  padding-top: 24px; }

.product__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 603px;
  height: 400px;
  overflow: hidden; }

.product__nav_block {
  padding-bottom: 11px; }
  .product__nav_block .img {
    width: 90px;
    height: 90px;
    position: relative;
    overflow: hidden; }
    .product__nav_block .img img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-filter: brightness(70%);
      filter: brightness(70%); }

.product__nav_block.slick-current img {
  -webkit-filter: none;
  filter: none; }

.product__img {
  padding-left: 13px; }

.product__img_block .img {
  width: 500px;
  height: 400px;
  position: relative;
  overflow: hidden; }
  .product__img_block .img img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.product__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 40px; }

.product__title {
  width: calc(100% - 603px);
  padding-left: 52px;
  padding-top: 12px; }
  .product__title .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px; }
  .product__title .date {
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #333333;
    font-family: 'Roboto', sans-serif; }
  .product__title .id {
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #8C8C8C;
    font-family: 'Roboto', sans-serif; }
  .product__title .name {
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    color: #333333;
    margin-bottom: 40px; }
  .product__title .price {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #333333;
    margin-bottom: 40px; }
  .product__title .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .product__title .city {
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #8C8C8C;
    font-family: 'Roboto', sans-serif; }
  .product__title .product_name {
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #8C8C8C;
    font-family: 'Roboto', sans-serif; }

.product__discription {
  padding-bottom: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .product__discription .text {
    min-width: 956px;
    width: 956px;
    font-family: 'Roboto', sans-serif; }
    .product__discription .text p {
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 140%;
      font-family: 'Roboto', sans-serif; }
  .product__discription .phone {
    width: 295px;
    margin-left: auto; }
  .product__discription .phone_block {
    width: 100%;
    background: #F9F9F9;
    border-radius: 8px;
    padding: 48px 25px 54px; }
    .product__discription .phone_block .name {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #000000;
      margin-bottom: 24px; }
    .product__discription .phone_block .number {
      font-family: 'Roboto', sans-serif;
      display: block;
      width: 100%;
      background: #00703B;
      border-radius: 8px;
      padding: 8px 50px;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      text-align: center; }
      .product__discription .phone_block .number span {
        display: block;
        margin-top: 4px; }

.user_panel {
  padding-top: 24px;
  padding-bottom: 80px; }

.user__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.user__aside {
  width: 295px; }
  .user__aside h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 48px; }

.user__block {
  width: 875px; }
  .user__block h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin-bottom: 40px; }
  .user__block ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 24px;
    margin-bottom: 24px; }
    .user__block ul li .left {
      width: 220px;
      margin-right: 40px; }
      .user__block ul li .left p {
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #8C8C8C; }
        .user__block ul li .left p span {
          color: red; }
    .user__block ul li .center p {
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333; }
    .user__block ul li .right {
      margin-left: auto; }
      .user__block ul li .right a {
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #00703B; }

.user__img {
  width: 100px;
  position: relative;
  margin-bottom: 16px; }
  .user__img .add_img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    background: #F7F7F7;
    -webkit-box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
    box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
    position: absolute;
    bottom: 0;
    right: 0; }
  .user__img .add_img::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 50%;
    background: #fff url(../img/photo.svg) no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
  .user__img .img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    background: #DCDCDC;
    border-radius: 50%; }
    .user__img .img img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.user__items {
  border-radius: 8px;
  overflow: hidden; }
  .user__items a {
    display: block;
    padding: 12px 16px;
    background: #F7F7F7;
    -webkit-box-shadow: inset 0px -1px 0px #EBEBEB;
    box-shadow: inset 0px -1px 0px #EBEBEB;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #333333; }
  .user__items a:last-child {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .user__items a.active {
    color: #00C165; }

.ads_tab {
  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 2px solid #DCDCDC; }
  .ads_tab button {
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #8C8C8C;
    margin-right: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer; }
  .ads_tab button.active {
    color: #333333; }

.user__ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 70px 26px 48px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  margin-bottom: 16px;
  position: relative; }
  .user__ads .img {
    width: 120px;
    height: 98px;
    overflow: hidden;
    position: relative;
    margin-right: 28px; }
    .user__ads .img img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .user__ads .title {
    width: 468px;
    padding-top: 12px; }
    .user__ads .title h5 {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #333333;
      margin-bottom: 12px; }
    .user__ads .title p {
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 24px; }
    .user__ads .title .ads-btn {
      width: 260px;
      height: 42px;
      background: #FFFFFF;
      border: 1px solid #00703B;
      border-radius: 8px;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #00703B;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .user__ads .title .ads-btn:hover {
      color: #fff;
      background: #00703B; }
    .user__ads .title .ads-btn2 {
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #00C165; }
  .user__ads .right {
    margin-left: auto;
    padding-top: 12px; }
    .user__ads .right p {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #8C8C8C;
      margin-bottom: 4px; }
    .user__ads .right span {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #8C8C8C;
      margin-top: 12px; }
  .user__ads .ads-edit {
    height: 12px;
    position: absolute;
    top: 20px;
    right: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .user__ads .ads-edit .down {
      display: none;
      position: absolute;
      top: 12px;
      right: 0;
      z-index: 9;
      width: 220px;
      background: #FFFFFF;
      border: 1px solid #DCDCDC;
      -webkit-box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
      box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
      border-radius: 8px; }
      .user__ads .ads-edit .down a {
        display: block;
        text-align: center;
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #333333;
        padding: 16px 0 20px 0; }
    .user__ads .ads-edit span {
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #00C165;
      margin-right: 4px; }
    .user__ads .ads-edit span:nth-child(3) {
      margin-right: 0; }

.ads-edit.active .down {
  display: block; }

.user__ads_tab {
  display: none; }

.user__ads_tab.active {
  display: block; }

.user-panel-add {
  padding-bottom: 40px; }

.user-panel-add__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  .user-panel-add__box .left {
    width: 315px; }
    .user-panel-add__box .left h6 {
      font-weight: normal;
      font-size: 18px;
      line-height: 120%;
      color: #333333;
      margin-top: 12px; }
      .user-panel-add__box .left h6 span {
        color: red; }
  .user-panel-add__box .right {
    width: 408px;
    margin-left: 27px; }
    .user-panel-add__box .right input {
      width: 100%;
      height: 52px;
      background: #FFFFFF;
      border: 1px solid #DCDCDC;
      border-radius: 4px;
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333;
      padding: 0 16px; }
    .user-panel-add__box .right select {
      width: 100%;
      height: 52px;
      background: #FFFFFF;
      border: 1px solid #DCDCDC;
      border-radius: 4px;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #8C8C8C;
      padding: 0 16px; }
    .user-panel-add__box .right textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 180px;
      min-height: 180px;
      max-height: 180px;
      background: #FFFFFF;
      border: 1px solid #DCDCDC;
      border-radius: 4px;
      padding: 16px; }
  .user-panel-add__box .modal__check {
    width: 315px;
    margin-bottom: 0; }
    .user-panel-add__box .modal__check label {
      font-size: 16px;
      line-height: 22px; }
  .user-panel-add__box .btn {
    width: 408px;
    height: 42px;
    margin-left: 27px; }

.user-panel-add__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .user-panel-add__photo .img {
    width: 108px;
    height: 108px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    margin-right: 16px;
    border: 1px solid #DCDCDC; }
    .user-panel-add__photo .img img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .user-panel-add__photo .text p {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #8C8C8C;
    margin: 8px 0; }

.footer {
  background: #F7F7F7; }

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 32px; }

.footer__link {
  width: 218px; }
  .footer__link a {
    display: block;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #333333;
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif; }
  .footer__link a:hover {
    color: #00703B; }

.footer__link:last-child {
  width: 300px; }

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 63px;
  border-top: 1px solid #DCDCDC; }
  .footer__bottom .left p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 4px; }
  .footer__bottom .left a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333; }
  .footer__bottom .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__bottom .right div a {
      display: block;
      width: 100%;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #333333;
      margin: 4px 0; }
    .footer__bottom .right img {
      margin-left: 12px; }

.admin_panel {
  background-color: #F9F9F9;
  padding-top: 40px; }

.admin_header {
  height: 60px; }

.admin_header_fixed {
  width: 100%;
  height: 60px;
  background: #23282D;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }
  .admin_header_fixed .container {
    height: 100%; }
  .admin_header_fixed .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .admin_header_fixed .back img {
      margin-right: 12px; }
    .admin_header_fixed .back p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF; }
  .admin_header_fixed .back:hover {
    opacity: 0.7; }

.admin_header_box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.admin_header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }
  .admin_header_right .option, .admin_header_right .exit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .admin_header_right .option img, .admin_header_right .exit img {
      margin-right: 12px; }
    .admin_header_right .option p, .admin_header_right .exit p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF; }
  .admin_header_right a:hover {
    opacity: 0.7; }

.admin_crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 12px 24px;
  margin-bottom: 40px; }
  .admin_crumbs a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    margin-right: 4px; }
  .admin_crumbs p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8C8C8C;
    margin-right: 4px; }

.admin_content {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
  border-radius: 8px;
  padding: 40px 105px 80px 74px; }
  .admin_content h2 {
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    color: #333333;
    margin-bottom: 32px; }

.admin__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px; }
  .admin__title h2 {
    margin-bottom: 0; }
  .admin__title .btn {
    width: 260px;
    margin-left: auto; }

.admin_footer {
  margin-top: 93px;
  padding-bottom: 8px; }

.admin_footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .admin_footer__box .left {
    width: 33%; }
    .admin_footer__box .left p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #8C8C8C; }
  .admin_footer__box .center {
    text-align: center;
    width: 33%; }
  .admin_footer__box .right {
    text-align: end;
    width: 33%; }
    .admin_footer__box .right p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #8C8C8C; }

.admin_ads_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .admin_ads_select .select {
    margin-right: 18px;
    width: 355px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    padding-right: 16px;
    margin-bottom: 24px; }
    .admin_ads_select .select select {
      width: 100%;
      height: 52px;
      background: transparent;
      border: none;
      padding-left: 16px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #8C8C8C; }
  .admin_ads_select .select:nth-child(3) {
    margin-right: 0; }
  .admin_ads_select .modal__check {
    margin-bottom: 24px;
    margin-right: 34px; }
    .admin_ads_select .modal__check label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333; }
      .admin_ads_select .modal__check label img {
        margin-left: 6px; }
  .admin_ads_select .reset {
    margin-bottom: 24px; }
    .admin_ads_select .reset img {
      margin-right: 8px; }
  .admin_ads_select .reset_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333; }

.btn.apply {
  margin-top: 18px;
  margin-bottom: 32px; }

.admin_ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  padding: 20px 70px 20px 50px;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px; }
  .admin_ads .top {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: -6px;
    background: #F7F7F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .admin_ads .img {
    min-width: 74px;
    height: 59px;
    overflow: hidden;
    position: relative;
    margin-right: 30px; }
    .admin_ads .img img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .admin_ads .title {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .admin_ads .title .id {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #333333; }
    .admin_ads .title h5 {
      width: 100%;
      margin-top: 16px;
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #333333; }
  .admin_ads .title__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 54px; }
    .admin_ads .title__product p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #333333;
      margin-left: 8px; }
    .admin_ads .title__product span {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #DCDCDC;
      margin-left: 8px; }
  .admin_ads .center .active {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 27px;
    background: #00C165;
    border-radius: 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0px 12px;
    margin-bottom: 16px; }
  .admin_ads .center .change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 17px; }
    .admin_ads .center .change svg {
      margin-right: 6px; }
    .admin_ads .center .change p {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #333333; }
  .admin_ads .center .delete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .admin_ads .center .delete svg {
      margin-right: 6px; }
    .admin_ads .center .delete p {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #8C8C8C; }
  .admin_ads .right {
    min-width: 144px;
    margin-left: auto; }
    .admin_ads .right .date {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 16px; }
      .admin_ads .right .date p {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
        margin-left: 8px; }
      .admin_ads .right .date p:nth-child(1) {
        margin-left: 0; }
      .admin_ads .right .date span {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #DCDCDC;
        margin-left: 8px; }
    .admin_ads .right .city {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #333333;
      margin-bottom: 16px; }
    .admin_ads .right .phone {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #333333; }

.admin_ads:last-child {
  margin-bottom: 0; }
