$mainColor: blue;
$font: "", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//---------- Common
*,*::before,*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

ul,ol {
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 0;
        padding: 0;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #00703B;
    border-radius: 8px;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    transition: all.2s ease;
}
.btn:hover {
    opacity: 0.8;
}

//------------------------ Nav

//------------------------- Header
.header {
    height: 136px;
}
.header__fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 999;
}
.header__fixed.active {
    box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
}
.header__top {
    padding-top: 16px;
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            padding-left: 24px;
            a {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #333333;
            }
            a:hover {
                color: #00703B;
            }
        }
    }
}
.header__bottom {
    padding-top: 24px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
}
.header__logo {
    display: block;
    width: 200px;
    margin-right: 32px;
    img {
        width: 100%;
    }
}
.header__burgir {
    display: flex;
    align-items: center;
    width: 146px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #00703B;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
    transition: all.3s ease;
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        transition: all.3s ease;
    }
    .burgir {
        width: 24px;
        height: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 8px;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background: #00703B;
            transition: all.3s ease;
        }
        span:nth-child(2) {
            width: 19px;
        }
    }
}
.header__burgir-menu {
    display: none;
}
.header__burgir.active {
    background: #00C165;
    border-color: #00C165;
    p {
        color: #fff;
    }
    span {
        width: 100% !important;
        background-color: #fff;
    }
}
.header__search {
    display: flex;
    width: 473px;
    height: 42px;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    margin-left: 27px;
    overflow: hidden;
    transition: all.3s ease;
    input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        padding: 0 16px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }
    button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 125px;
        height: 100%;
        background: #DCDCDC;
        border: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        img {
            margin-right: 7px;
        }
    }
}
.header__city {
    display: none;
    margin-top: 11px;
    width: 100%;    
    p {
        display: flex;
        justify-content: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #8C8C8C;
        a {
            font-size: 14px;
            line-height: 19px;
            color: #333333;
            border-bottom: 1px dashed #00703B;
            padding-bottom: 2px;
            margin-left: 4px;
        }
    }
}
.header__btn {
    margin-left: 32px;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        height: 42px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        background: #00703B;
        border-radius: 8px;
        color: #FFFFFF;
        transition: all.3s ease;
    }
    a:hover {
        opacity: 0.8;
    }
}
.header__user {
    margin-left: auto;
    position: relative;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 96px;
        height: 42px;
        background: #DCDCDC;
        border-radius: 8px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
    }
    .img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;
        background: #DCDCDC;
        position: relative;
        cursor: pointer;
        img {
            width: 50%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .down {
        display: none;
        width: 392px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
        border-radius: 8px;
        position: absolute;
        top: 56px;
        right: 0;
        z-index: 999;
        padding-top: 40px;
        a {
            width: 100%;
            height: auto;
            background-color: transparent;
            justify-content: flex-start;
        }
        .link {
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #333333;
            padding: 0 40px;
            margin-bottom: 24px;
        }
        .link:last-child {
            margin-bottom: 32px;
        }
        .exit {
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #8C8C8C;
            font-family: 'Roboto', sans-serif;
            padding: 24px 40px 32px 40px;
            border-top: 1px solid #DCDCDC;
            border-radius: 0;
        }
    }
    .img.active + .down {
        display: block;
    }
}

.mobile-menu {
    display: none;
    width: 100%;
    height: 57px;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1001;
}
.menu__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 13px;
    transform: translateY(-2px);
}
.menu__items {
    text-align: center;
    p {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #8C8C8C;
    }
    .catalog-btn {
        p {
            margin-top: 8px;
        }
        span {
            display: block;
            width: 24px;
            height: 2px;
            background: #333333;
        }
        span:nth-child(2) {
            margin-top: 5px;
            width: 19px;
        }
    }
    .catalog-btn.active {
        span {
            background: #00C165;
        }
    }
    .add-btn {
        img {
            background-color: #fff;
            border-radius: 50%;
            transform: translateY(-11px);
        }
    }
    .user-btn {
        p {
            margin-top: 3px;
        }
    }
}

// modal
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
}
.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
}
.modal__block {
    width: 630px;
    background: #FFFFFF;
    box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
    border-radius: 8px;
    padding: 48px 0 0;
    position: relative;
    margin-top: 50px;
    h3 {
        font-weight: 600;
        font-size: 42px;
        line-height: 57px;
        text-align: center;
        color: #333333;
        margin-bottom: 40px;
    }
    h6 {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        text-align: center;
        color: #8C8C8C;
        margin-bottom: 16px;
    }
}
.modal__content {
    padding: 0 110px;
    input {
        width: 100%;
        height: 52px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        border-radius: 4px;
        padding: 0 16px;
        margin-bottom: 24px;
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #8C8C8C;
        font-family: 'Roboto', sans-serif;
    }
}
.modal__secret {
    display: flex;
    .secret {
        width: 93px;
        height: 52px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        border-radius: 4px;
        margin-right: 18px;
    }
}
.modal__check {
    display: flex;
    overflow: hidden;
    margin-bottom: 24px;
    position: relative;
    .pass {
        margin-left: auto;
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #00703B;
    }
    input {
        min-width: 24px;
        width: 24px;
        min-height: 24px;
        height: 24px;
        margin: 0;
        padding: 0;
        margin-right: 12px;
        transform: translateX(-100px);
        opacity: 0;
    }
    label {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        cursor: pointer;
        a {
            color: #00703B;
        }
    }
    label::before {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
        left: 0;
        background: #00703B;
        border-radius: 2px;
    }
    input:checked + label::before {
        background: #00703B url(../img/check.svg) no-repeat center;
    }
}
.modal__btn {
    width: 100%;
    height: 42px;
    background: #00703B;
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;
}
.moda__btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    padding: 32px 0;
    border: none;
    border-top: 1px solid #DCDCDC;
    cursor: pointer;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #00703B;
}
.modal.active {
    display: flex;
}

// catalog_menu
.catalog_menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -105%;
    z-index: 1000;
    background-color: #fff;
    transition: all.3s ease;
    overflow: hidden;
    padding-top: 24px;
    overflow-y: auto;
}
.catalog_menu.active {
    left: 0;
}
.catalog_menu__top {
    h5 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #333333;
        text-align: center;
    }
}
.catalog_menu__close {
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
}
.catalog_menu__ul {
    margin-top: 30px;
}
.catalog_menu__li {
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EBEBEB;
    margin-bottom: 16px;
    p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #333333;
        padding: 12px 10px 13px 16px;
        cursor: pointer;
        a {
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #333333;
        }
    }
    ul {
        position: absolute;
        top: 0;
        right: -105%;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: all.3s ease;
        padding-top: 24px;
        overflow-y: auto;
        li {
            padding: 12px 16px;
            background: #FFFFFF;
            box-shadow: inset 0px -1px 0px #EBEBEB;
            margin-bottom: 16px;
            a {
                display: block;
                width: 100%;
                font-weight: normal;
                font-size: 19px;
                line-height: 120%;
                color: #333333;
            }
        }
    }
    p.active + ul {
        right: 0;
    }
}
.catalog_menu__ul_top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    img {
        margin-right: 15px;
        cursor: pointer;
    }
    h6 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #333333;
    }
}

//------------------------- Main
section {
    h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        color: #333333;
        margin-bottom: 32px;
    }
    h2.mobie {
        display: none;
    }
}
.banner {
    padding-top: 22px;
    padding-bottom: 54px;
}
.banner__box {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.banner-shadow {
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
.banner__content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    padding-left: 60px;
    .h1 {
        width: 520px;
        font-weight: bold;
        font-size: 50px;
        line-height: 120%;
        color: #FFFFFF;
    }
}

// services
.services__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services__item {
    width: 150px;
    margin-right: 38px;
    margin-bottom: 52px;
    p {
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        text-align: center;
        color: #1F1F1F;
    }
    .img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 16px;
        overflow: hidden;
        img {
            width: 100%;
            transition: all.3s ease;
        }
    }
}
.services__item:hover img {
    transform: scale(1.1);
}
.services__item:nth-child(7) {
    margin-right: 0;
}
.services__item:nth-child(13) {
    margin-right: 0;
}
.services__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

// suggestions
.suggestions {
    padding-bottom: 29px;
    margin-bottom: 72px;
    .slick-prev {
        display: none;
    }
    .slick-next {
        width: 40px;
        height: 40px;
        z-index: 99;
        border-radius: 50%;
        right: 0;
        top: 40%;
        background: #DCDCDC url(../img/right.svg) no-repeat center;
        transition: all.2s ease;
    }
    .slick-next:hover {
        opacity: 0.9;
    }
    .slick-next::before {
        display: none;
    }
    .slick-dots li button:before {
        display: none;
    }
    .slick-dots {
        bottom: -32px;
    }
    .slick-dots li {
        padding: 0;
        width: 50px;
        height: 5px;
        border-radius: 5px;
        background: #DCDCDC;
        margin: 0 12px;
    }
    .slick-dots li.slick-active {
        background: #00703B;
    }
    .slick-dots li button {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
}
.suggestions__box {
    .slick-track {
        display: flex;
    }
}
// .suggestions__block {
//     padding-right: 27px;
// }
.suggestions__wrap {
    padding-right: 27px;
}
.suggestions__item {
    width: 300px;
    display: flex !important;
    min-height: 450px;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 12px;
    overflow: hidden;
    transition: all.3s ease;
    .img {
        width: 100%;
        min-height: 245px;
        position: relative;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .title {
        height: 100%;
        min-height: 201px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px 16px 32px;
    }
    .price {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #333333;
        margin-bottom: 16px;
    }
    p {
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #333333;
        margin-bottom: 16px;
        font-family: 'Roboto', sans-serif;
    }
    span {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #8C8C8C;
    }
}
.suggestions__item:hover {
    background: #F7F7F7;
    border: 1px solid #DCDCDC;
    box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
}

// stock
.stock__box {
    display: flex;
    margin-bottom: 72px;
}
.stock__block {
    cursor: pointer;
    width: 630px;
    height: 280px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 21px;
    position: relative;
    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.stock__block:nth-child(2) {
    margin-right: 0;
}
.banner-shadow2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -30%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: all.3s ease;
}
.stock__block .banner-shadow2 {
    left: 40%;
}
.stock__content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    padding: 0 40px;
    h5 {
        width: 249px;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        color: #FFFFFF;
        padding-top: 76px;
    }
    span {
        width: 141px;
        margin: 0 auto;
        display: block;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        color: #FFFFFF;
        padding: 0 17px;
        background: rgba(7, 128, 239, 0.9);
        border-radius: 13px;
        margin-bottom: 16px;
        margin-top: 117px;
    }
    h6 {
        width: 224px;
        font-weight: bold;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto;
    }
}

// announcement
.announcement__box {
    display: flex;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    padding: 32px 80px 32px 48px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all.2s ease;
    .img {
        width: 120px;
        height: 98px;
        background-color: #EBEBEB;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .title {
        padding-top: 12px;
        margin-left: 28px;
        .price {
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: #333333;
            margin-bottom: 12px;
        }
        p {
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #333333;
        }
    }
    .date {
        margin-left: auto;
        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #8C8C8C;
            margin-bottom: 4px;
        }
        span {
            display: block;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #8C8C8C;
            margin-top: 8px;
        }
    }
}
.announcement__box:hover {
    background: #F7F7F7;
    border: 1px solid #DCDCDC;
    box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
    border-radius: 8px;
}
.announcement__btn {
    margin-top: 32px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}

// banner2
.banner2 {
    .h1 {
        color: #333333;
        span {
            color: #00703B;
        }
    }
}

// catalog
.catalog {
    padding-top: 24px;
    padding-bottom: 72px;
}
.catalog__box {
    display: flex;
}
.catalog__aside {
    width: 295px;
    aside {
        width: 100%;
        background: #F7F7F7;
        border-radius: 8px;
        overflow: hidden;
        .ul {
            li > p {
                padding: 12px 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: normal;
                font-size: 19px;
                line-height: 120%;
                color: #333333;
                cursor: pointer;
                a {
                    color: #333;
                }
            }
            li > ul {
                max-height: 0;
                overflow: hidden;
                transition: all.3s ease;
                a {
                    display: block;
                    padding: 8px 16px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #333333;
                }
            }
            li p.active {
                a {
                    color: #00C165;
                }
                img {
                    transform: rotate(-180deg);
                }
            }
            li p.active + ul {
                max-height: 1000px;
                box-shadow: inset 0px 1px 0px #EBEBEB;
            }
        }
    }
}
.catalog__aside aside .ul li > ul a:hover {
    color: #00C165;
}
.catalog__block {
    width: calc(100% - 325px);
    margin-left: auto;
}
.crumbs {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    a {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        margin-right: 4px;
    }
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #8C8C8C;
        margin-right: 4px;
    }
    span {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #8C8C8C;
    }
}
.catalog__select {
    display: flex;
    margin-bottom: 32px;
    .select {
        width: 300px;
        margin-right: 64px;
        p {
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #333333;
            margin-bottom: 8px;
        }
        select {
            width: 100%;
            height: 44px;
            background: #FFFFFF;
            border: 1px solid #DCDCDC;
            border-radius: 8px;
            padding: 0 16px;
        }
    }
}
.next {
    display: flex;
    align-items: center;
    margin-top: 32px;
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        margin-right: 24px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: #DCDCDC;
        border-radius: 8px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #8C8C8C;
        margin-right: 16px;
    }
    a.active {
        background: #00703B;
        color: #FFFFFF;
    }
}

// product
.product {
    padding-top: 24px;
}
.product__slider {
    display: flex;
    width: 603px;
    height: 400px;
    overflow: hidden;
}
.product__nav_block {
    padding-bottom: 11px;
    .img {
        width: 90px;
        height: 90px;
        position: relative;
        overflow: hidden;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: brightness(70%)
        }
    }
}
.product__nav_block.slick-current img {
    filter: none;
}
.product__img {
    padding-left: 13px;
}
.product__img_block {
    .img {
        width: 500px;
        height: 400px;
        position: relative;
        overflow: hidden;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.product__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.product__title {
    width: calc(100% - 603px);
    padding-left: 52px;
    padding-top: 12px;
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    .date {
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #333333;
        font-family: 'Roboto', sans-serif;
    }
    .id {
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #8C8C8C;
        font-family: 'Roboto', sans-serif;
    }
    .name {
        font-weight: 600;
        font-size: 42px;
        line-height: 57px;
        color: #333333;
        margin-bottom: 40px;
    }
    .price {
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        color: #333333;
        margin-bottom: 40px;
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .city {
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #8C8C8C;
        font-family: 'Roboto', sans-serif;
    }
    .product_name {
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #8C8C8C;
        font-family: 'Roboto', sans-serif;
    }
}
.product__discription {
    padding-bottom: 72px;
    display: flex;
    justify-content: space-between;
    .text {
        min-width: 956px;
        width: 956px;
        font-family: 'Roboto', sans-serif;
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 140%;
            font-family: 'Roboto', sans-serif;
        }
    }
    .phone {
        width: 295px;
        margin-left: auto;
    }
    .phone_block {
        width: 100%;
        background: #F9F9F9;
        border-radius: 8px;
        padding: 48px 25px 54px;
        .name {
            font-family: 'Roboto', sans-serif;
            text-align: center;
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #000000;
            margin-bottom: 24px;
        }
        .number {
            font-family: 'Roboto', sans-serif;
            display: block;
            width: 100%;
            background: #00703B;
            border-radius: 8px;
            padding: 8px 50px;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            text-align: center;
            span {
                display: block;
                margin-top: 4px;
            }
        }
    }
}

// user_panel
.user_panel {
    padding-top: 24px;
    padding-bottom: 80px;
}
.user__box {
    display: flex;
    justify-content: space-between;
}
.user__aside {
    width: 295px;
    h5 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #000000;
        margin-bottom: 48px;
    }
}
.user__block {
    width: 875px;
    h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #333333;
        margin-bottom: 40px;
    }
    ul {
        li {
            display: flex;
            border-bottom: 1px solid #DCDCDC;
            padding-bottom: 24px;
            margin-bottom: 24px;
            .left {
                width: 220px;
                margin-right: 40px;
                p {
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 120%;
                    color: #8C8C8C;
                    span {
                        color: red;
                    }
                }
            }
            .center {
                p {
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 120%;
                    color: #333333;
                }
            }
            .right {
                margin-left: auto;
                a {
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 120%;
                    color: #00703B;
                }
            }
        }
    }
}
.user__img {
    width: 100px;
    position: relative;
    margin-bottom: 16px;
    .add_img {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
        background: #F7F7F7;
        box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .add_img::after {
        content: "";
        width: 100%;
        height: 100%;
        border: 50%;
        background: #fff url(../img/photo.svg) no-repeat center;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    .img {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        background: #DCDCDC;
        border-radius: 50%;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.user__items {
    border-radius: 8px;
    overflow: hidden;
    a {
        display: block;
        padding: 12px 16px;
        background: #F7F7F7;
        box-shadow: inset 0px -1px 0px #EBEBEB;
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #333333;
    }
    a:last-child {
        box-shadow: none;
    }
    a.active {
        color: #00C165;
    }
}

// ads
.ads_tab {
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 2px solid #DCDCDC;
    button {
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #8C8C8C;
        margin-right: 32px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    button.active {
        color: #333333;
    }
}
.user__ads {
    display: flex;
    padding: 32px 70px 26px 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    margin-bottom: 16px;
    position: relative;
    .img {
        width: 120px;
        height: 98px;
        overflow: hidden;
        position: relative;
        margin-right: 28px;
        img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .title {
        width: 468px;
        padding-top: 12px;
        h5 {
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: #333333;
            margin-bottom: 12px;
        }
        p {
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #333333;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 24px;
        }
        .ads-btn {
            width: 260px;
            height: 42px;
            background: #FFFFFF;
            border: 1px solid #00703B;
            border-radius: 8px;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #00703B;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all.2s ease;
        }
        .ads-btn:hover {
            color: #fff;
            background: #00703B;
        }
        .ads-btn2 {
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #00C165;
        }
    }
    .right {
        margin-left: auto;
        padding-top: 12px;
        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #8C8C8C;
            margin-bottom: 4px;
        }
        span {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #8C8C8C;
            margin-top: 12px;
        }
    }
    .ads-edit {
        height: 12px;
        position: absolute;
        top: 20px;
        right: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .down {
            display: none;
            position: absolute;
            top: 12px;
            right: 0;
            z-index: 9;
            width: 220px;
            background: #FFFFFF;
            border: 1px solid #DCDCDC;
            box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
            border-radius: 8px;
            a {
                display: block;
                text-align: center;
                font-weight: normal;
                font-size: 19px;
                line-height: 120%;
                color: #333333;
                padding: 16px 0 20px 0;
            }
        }
        span {
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #00C165;
            margin-right: 4px;
        }
        span:nth-child(3) {
            margin-right: 0;
        }
    }
}
.ads-edit.active .down {
    display: block;
}
.user__ads_tab {
    display: none;
}
.user__ads_tab.active {
    display: block;
}
.user-panel-add {
    padding-bottom: 40px;
}
.user-panel-add__box {
    display: flex;
    margin-bottom: 40px;
    .left {
        width: 315px;
        h6 {
            font-weight: normal;
            font-size: 18px;
            line-height: 120%;
            color: #333333;
            margin-top: 12px;
            span {
                color: red;
            }
        }
    }
    .right {
        width: 408px;
        margin-left: 27px;
        input {
            width: 100%;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid #DCDCDC;
            border-radius: 4px;
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #333333;
            padding: 0 16px;
        }
        select {
            width: 100%;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid #DCDCDC;
            border-radius: 4px;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #8C8C8C;
            padding: 0 16px;
        }
        textarea {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 180px;
            min-height: 180px;
            max-height: 180px;
            background: #FFFFFF;
            border: 1px solid #DCDCDC;
            border-radius: 4px;
            padding: 16px;
        }
    }
    .modal__check {
        width: 315px;
        margin-bottom: 0;
        label {
            font-size: 16px;
            line-height: 22px;
        }
    }
    .btn {
        width: 408px;
        height: 42px;
        margin-left: 27px;
    }
}
.user-panel-add__photo {
    display: flex;
    align-items: center;
    .img {
        width: 108px;
        height: 108px;
        overflow: hidden;
        border-radius: 2px;
        position: relative;
        margin-right: 16px;
        border: 1px solid #DCDCDC;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }.text {
        p {
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            color: #8C8C8C;
            margin: 8px 0;
        }
    }
}

//------------------------- Footer
.footer {
    background: #F7F7F7;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 32px;
}
.footer__link {
    width: 218px;
    a {
        display: block;
        font-weight: normal;
        font-size: 19px;
        line-height: 120%;
        color: #333333;
        margin-bottom: 24px;
        font-family: 'Roboto', sans-serif;
    }
    a:hover {
        color: #00703B;
    }
}
.footer__link:last-child {
    width: 300px;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 63px;
    border-top: 1px solid #DCDCDC;
    .left {
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #333333;
            margin-bottom: 4px;
        }
        a {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #333333;
        }
    }
    .right {
        display: flex;
        div {
            a {
                display: block;
                width: 100%;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #333333;
                margin: 4px 0;
            }
        }
        img {
            margin-left: 12px;
        }
    }
}


// Admin Panel
.admin_panel {
    background-color: #F9F9F9;
    padding-top: 40px;
}
.admin_header {
    height: 60px;
    
}
.admin_header_fixed {
    width: 100%;
    height: 60px;
    background: #23282D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .container {
        height: 100%;
    }
    .back {
        display: flex;
        align-items: center;
        transition: all.2s ease;
        img {
            margin-right: 12px;
        }
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
    .back:hover {
        opacity: 0.7;
    }
}
.admin_header_box {
    height: 100%;
    display: flex;
    align-items: center;
}
.admin_header_right {
    display: flex;
    margin-left: auto;
    .option, .exit {
        display: flex;
        align-items: center;
        margin-left: 40px;
        transition: all.2s ease;
        img {
            margin-right: 12px;
        }
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
    a:hover {
        opacity: 0.7;
    }
}
.admin_crumbs {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px 24px;
    margin-bottom: 40px;
    a {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        margin-right: 4px;
    }
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #8C8C8C;
        margin-right: 4px;
    }
}
.admin_content {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 6px 15px rgba(140, 140, 140, 0.1);
    border-radius: 8px;
    padding: 40px 105px 80px 74px;
    h2 {
        font-weight: 600;
        font-size: 42px;
        line-height: 57px;
        color: #333333;
        margin-bottom: 32px;
    }
}
.admin__title {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    h2 {
        margin-bottom: 0;
    }
    .btn {
        width: 260px;
        margin-left: auto;
    }
}

// admin_footer
.admin_footer {
    margin-top: 93px;
    padding-bottom: 8px;
}
.admin_footer__box {
    display: flex;
    .left {
        width: 33%;
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #8C8C8C;
        }
    }
    .center {
        text-align: center;
        width: 33%;
    }
    .right {
        text-align: end;
        width: 33%;
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #8C8C8C;
        }
    }
}
.admin_ads_select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .select {
        margin-right: 18px;
        width: 355px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        border-radius: 4px;
        padding-right: 16px;
        margin-bottom: 24px;
        select {
            width: 100%;
            height: 52px;
            background: transparent;
            border: none;
            padding-left: 16px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #8C8C8C;
        }
    }
    .select:nth-child(3) {
        margin-right: 0;
    }
    .modal__check {
        margin-bottom: 24px;
        margin-right: 34px;
        label {
            display: flex;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #333333;
            img {
                margin-left: 6px;
            }
        }
    }
    .reset {
        margin-bottom: 24px;
        img {
            margin-right: 8px;
        }
    }
    .reset_btn {
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
    }
}
.btn.apply {
    margin-top: 18px;
    margin-bottom: 32px;
}
.admin_ads {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    padding: 20px 70px 20px 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    .top {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        position: absolute;
        top: -6px;
        right: -6px;
        background: #F7F7F7;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img {
        min-width: 74px;
        height: 59px;
        overflow: hidden;
        position: relative;
        margin-right: 30px;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .title {
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        .id {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #333333;
        }
        h5 {
            width: 100%;
            margin-top: 16px;
            font-weight: normal;
            font-size: 19px;
            line-height: 120%;
            color: #333333;
        }
    }
    .title__product {
        display: flex;
        margin-left: 54px;
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #333333;
            margin-left: 8px;
        }
        span {
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #DCDCDC;
            margin-left: 8px;
        }
    }
    .center {
        .active {
            display: inline-flex;
            align-items: center;
            height: 27px;
            background: #00C165;
            border-radius: 12px;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            padding: 0px 12px;
            margin-bottom: 16px;
        }
        .change {
            display: flex;
            align-items: center;
            margin-bottom: 17px;
            svg {
                margin-right: 6px;
            }
            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #333333;
            }
        }
        .delete {
            display: flex;
            align-items: center;
            svg {
                margin-right: 6px;
            }
            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #8C8C8C;
            }
        }
    }
    .right {
        min-width: 144px;
        margin-left: auto;
        .date {
            display: flex;
            margin-bottom: 16px;
            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #333333;
                margin-left: 8px;
            }
            p:nth-child(1) {
                margin-left: 0;
            }
            span {
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #DCDCDC;
                margin-left: 8px;
            }
        }
        .city {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #333333;
            margin-bottom: 16px;
        }
        .phone {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #333333;
        }
    }
}
.admin_ads:last-child {
    margin-bottom: 0;
}